
{{#each children}}
    <li ><span class="caret">
        {{this.name}}
        </span>
        
        {{#if this.children}}
            {{#if this.children.length}}
              (<a href="#">{{this.children.length }} Children
              </a>) <i class="fa fa-folder"></i>
            {{/if}}
            <ul  class="nested">
                {{>list}}
            </ul>
        {{/if}}
    </li>
{{/each}}

